{:paths ["src/clj" "src/cljs" "resources"]

 :deps {org.clojure/clojure {:mvn/version "1.11.1"}
        org.clojure/core.async {:mvn/version "1.6.681"}
        org.clojure/data.json {:mvn/version "2.5.0"}

        ;; Web framework
        io.pedestal/pedestal.service {:mvn/version "0.7.0"}
        io.pedestal/pedestal.jetty {:mvn/version "0.7.0"}

        ;; HTTP client
        clj-http/clj-http {:mvn/version "3.13.0"}

        ;; Validation
        metosin/malli {:mvn/version "0.16.0"}

        ;; Security
        buddy/buddy-core {:mvn/version "1.11.423"}
        buddy/buddy-hashers {:mvn/version "2.0.167"}

        ;; Logging
        com.taoensso/timbre {:mvn/version "6.5.0"}

        ;; Configuration
        aero/aero {:mvn/version "1.1.6"}}

 :aliases
 {:dev
  {:extra-paths ["dev"]
   :extra-deps {org.clojure/tools.namespace {:mvn/version "1.5.0"}
                thheller/shadow-cljs {:mvn/version "2.27.5"}
                ch.qos.logback/logback-classic {:mvn/version "1.4.14"}}
   :jvm-opts ["-Dlogback.configurationFile=dev/logback.xml"]}

  :repl
  {:extra-deps {nrepl/nrepl {:mvn/version "1.1.0"}
                cider/cider-nrepl {:mvn/version "0.47.1"}}
   :main-opts ["-m" "nrepl.cmdline"
               "--middleware" "[cider.nrepl/cider-middleware]"
               "--interactive"]}

  :shadow-cljs
  {:extra-deps {thheller/shadow-cljs {:mvn/version "2.27.5"}}
   :main-opts ["-m" "shadow.cljs.devtools.cli"]}

  :test
  {:extra-paths ["test/clj"]
   :extra-deps {lambdaisland/kaocha {:mvn/version "1.91.1392"}
                org.clojure/test.check {:mvn/version "1.1.1"}}
   :main-opts ["-m" "kaocha.runner"]}

  :uberjar
  {:replace-deps {com.github.seancorfield/depstar {:mvn/version "2.1.303"}}
   :exec-fn hf.depstar/uberjar
   :exec-args {:aot true
               :jar "target/lasso.jar"
               :main-class lasso.server
               :sync-pom true}}}}
